<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container">
	<form role='form'>
		<div class="form-group">
			<label for="inputso">搜索：</label>
			<input type="text" ng-model='test' class="form-control" id="inputso" name="" />
		</div>
	</form>
	<a  ng-repeat="su in sub | filter:test" href="#/intde/{{su.id}}">
		<div class="media">
		    <span class="media-left">
		    <img src="img/{{su.img}}" class="img2" /></span>
		    <div class="media-body">
		      <h4 class="media-heading">{{su.name}}</h4>
		      <p>原料：{{su.material}}</p>
		    </div>
		</div>
	</a>
	<br />
	<button class="btn btn-primary btn-block" ng-click="loadmore()">加载更多</button>
</div>
</body>
</html>